.Card {
  position: absolute;
  height: 150rem;
  width: 100%;
  border-radius: 5rem;
  background-size: cover;
  background: transparent;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Card .CompDiv {
  position: absolute;
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  top: 12rem;
  padding: 2rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.Card .CompDiv .InfoScience,
.Card .CompDiv .ComputerScience,
.Card .CompDiv .Mechanical,
.Card .CompDiv .Electronic,
.Card .CompDiv .Civil {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: orangered;
  border: 0.3rem solid orange;
  height: 34rem;
  width: 32rem;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 1.5rem 1.5rem 0rem rgba(255, 255, 255, 0.1);
          box-shadow: 1.5rem 1.5rem 0rem rgba(255, 255, 255, 0.1);
  -webkit-transition: 1s all linear;
  transition: 1s all linear;
}

.Card .CompDiv .InfoScience a,
.Card .CompDiv .ComputerScience a,
.Card .CompDiv .Mechanical a,
.Card .CompDiv .Electronic a,
.Card .CompDiv .Civil a {
  text-decoration: none;
  color: orangered;
}

.Card .CompDiv .InfoScience .logoImages,
.Card .CompDiv .ComputerScience .logoImages,
.Card .CompDiv .Mechanical .logoImages,
.Card .CompDiv .Electronic .logoImages,
.Card .CompDiv .Civil .logoImages {
  margin-top: 1.6rem;
  border-radius: 5%;
  width: 30rem;
  height: 25rem;
  border: 0.2rem solid orange;
}

.Card .CompDiv .InfoScience .logoImages:hover,
.Card .CompDiv .ComputerScience .logoImages:hover,
.Card .CompDiv .Mechanical .logoImages:hover,
.Card .CompDiv .Electronic .logoImages:hover,
.Card .CompDiv .Civil .logoImages:hover {
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

.Card .CompDiv .InfoScience:hover,
.Card .CompDiv .ComputerScience:hover,
.Card .CompDiv .Mechanical:hover,
.Card .CompDiv .Electronic:hover,
.Card .CompDiv .Civil:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Card .CompDiv .InfoScience h1,
.Card .CompDiv .ComputerScience h1,
.Card .CompDiv .Mechanical h1,
.Card .CompDiv .Electronic h1,
.Card .CompDiv .Civil h1 {
  margin-top: 1.5rem;
  animation: zoom alternate-reverse 0.5s 0.1s infinite;
  font-size: 2.8rem;
  text-shadow: 0.5rem 0.5rem orange;
  font-family: "Pacifico", cursive;
  color: #1d1d1d;
}

.Footer {
  top: 135rem;
}

@-webkit-keyframes zoom {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #111111;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: whitesmoke;
  }
}

@keyframes zoom {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    color: #111111;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    color: whitesmoke;
  }
}
/*# sourceMappingURL=Card.css.map */