.Card {
  position: absolute;
  height: 150rem;
  width: 100%;
  border-radius: 5rem;
  background-size: cover;
  background: transparent;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.Card .CompDiv {
  position: absolute;
  height: 125rem;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  top: 10rem;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
}

.Card .CompDiv .InfoScience,
.Card .CompDiv .ComputerScience,
.Card .CompDiv .Mechanical,
.Card .CompDiv .Electronic,
.Card .CompDiv .Civil {
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: orangered;
  border: 0.3rem solid orange;
  animation: load alternate-reverse 0.1s infinite;
  height: 34rem;
  width: 32rem;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 1.5rem 1.5rem 0rem rgba(255, 255, 255, 0.1);
          box-shadow: 1.5rem 1.5rem 0rem rgba(255, 255, 255, 0.1);
  -webkit-transition: 1s all linear;
  transition: 1s all linear;
}

.Card .CompDiv .InfoScience a,
.Card .CompDiv .ComputerScience a,
.Card .CompDiv .Mechanical a,
.Card .CompDiv .Electronic a,
.Card .CompDiv .Civil a {
  text-decoration: none;
  color: orangered;
}

.Card .CompDiv .InfoScience img,
.Card .CompDiv .ComputerScience img,
.Card .CompDiv .Mechanical img,
.Card .CompDiv .Electronic img,
.Card .CompDiv .Civil img {
  margin-top: 1.6rem;
  border-radius: 5%;
  width: 30rem;
  height: 25rem;
  border: 0.2rem solid orange;
}

.Card .CompDiv .InfoScience:hover,
.Card .CompDiv .ComputerScience:hover,
.Card .CompDiv .Mechanical:hover,
.Card .CompDiv .Electronic:hover,
.Card .CompDiv .Civil:hover {
  cursor: pointer;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.Card .CompDiv .InfoScience h1,
.Card .CompDiv .ComputerScience h1,
.Card .CompDiv .Mechanical h1,
.Card .CompDiv .Electronic h1,
.Card .CompDiv .Civil h1 {
  margin-top: 1.5rem;
  font-size: 2.8rem;
  text-shadow: 0.5rem 0.5rem orange;
  font-family: "Pacifico", cursive;
  color: #1d1d1d;
}

.Card .CompDiv .InfoScience h1:hover,
.Card .CompDiv .ComputerScience h1:hover,
.Card .CompDiv .Mechanical h1:hover,
.Card .CompDiv .Electronic h1:hover,
.Card .CompDiv .Civil h1:hover {
  cursor: pointer;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: ease-in-out 1s;
  transition: ease-in-out 1s;
}

@-webkit-keyframes load {
  0% {
    opacity: 1;
    color: #111;
    width: 32rem;
    background-color: transparent;
  }
  100% {
    opacity: 1;
    width: 32rem;
    background-color: orangered;
  }
}

@keyframes load {
  0% {
    opacity: 1;
    color: #111;
    width: 32rem;
    background-color: transparent;
  }
  100% {
    opacity: 1;
    width: 32rem;
    background-color: orangered;
  }
}
/*# sourceMappingURL=Card.css.map */