@media (max-width: 1600px) {
  html {
    font-size: 65%;
  }

  .errorImage {
    top: 10rem;
  }

  .text {
    top: 35rem;
  }

  .Footer {
    top: 63.1rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .errorImage {
    top: 10rem;
  }

  .Footer {
    top: 75rem;
  }

  .text {
    top: 35rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 35%;
  }

  .errorImage {
    top: 45rem;
  }

  .Footer {
    top: 120rem;
  }

  .text {
    top: 70rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 29%;
  }

  .errorImage {
    top: 45rem;
  }

  .Footer {
    top: 140rem;
  }

  .text {
    top: 70rem;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 21%;
  }

  .errorImage {
    top: 45rem;
  }

  .text {
    top: 70rem;
  }

  .Footer {
    top: 140rem;
  }
}

.Container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.Footer {
  position: absolute;
  background-color: transparent;
  height: 5rem;
  width: 100vw;
}

.errorImage {
  position: absolute;
  animation: loop alternate 1s infinite;
  height: 25rem;
  width: 25rem;
  transform: translate(50%);
}

.text {
  position: absolute;
  justify-content: center;
  text-align: center;
  align-items: center;

  & h1 {
    font-weight: bolder;
    color: orangered;
    font-family: "Bangers", cursive;
    font-size: 15rem;
    letter-spacing: 1rem;
    text-shadow: 1rem 1rem 0rem rgba(255, 255, 255, 0.15);
  }

  & h4 {
    color: orangered;
    font-family: "Bangers", cursive;
    font-size: 6rem;
    letter-spacing: 0.2rem;
    text-shadow: 1rem 1rem 0rem rgba(255, 255, 255, 0.15);
  }

  & a {
    text-decoration: none;
  }

  & button {
    flex: 1 1 auto;
    padding: 1.5rem;
    font-family: "Share Tech Mono", monospace;
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
    transition: 0.5s;
    background-size: 100rem auto;
    color: whitesmoke;
    border-radius: 4rem;
    width: 30.5rem;
    min-width: 30.5rem;
    margin-top: 0.5rem;
    background-image: linear-gradient(
      to right,
      orangered 0%,
      orange 51%,
      orangered 100%
    );

    &:hover {
      background-position: right center;
      transform: scale(0.9);
      // border-bottom: .5rem solid ;
      box-shadow: 0.5rem 0.5rem 0rem rgba(255, 255, 255, 0.25);
      transition: linear 0.25s;
    }
  }

  // & button {
  //   margin-top: 1.5rem;
  //   font-family: "Share Tech Mono", monospace;
  //   text-align: center;
  //   transition: 0.5s;
  //   color: whitesmoke;
  //   background-image: linear-gradient(
  //     to right,
  //     orangered 0%,
  //     orange 51%,
  //     orangered 100%
  //   );
  //   font-size: 1.6rem;
  //   font-weight: bold;
  //   border-radius: 4rem;
  //   width: 30.5rem;
  //   height: 4rem;
  // }

  #one {
    cursor: pointer;
    animation: loads alternate-reverse 0.3s 0.1s infinite;
  }
}

@keyframes loop {
  0% {
    transform: scale(1);
    opacity: 0.5;
    filter: blur(1rem);
  }

  100% {
    transform: scale(1.1);
    opacity: 1;
  }
}

@keyframes loads {
  0% {
    opacity: 1;
    color: black;
    background-color: transparent;
  }

  100% {
    opacity: 1;
    background-color: whitesmoke;
  }
}
