* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.App {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
  scroll-behavior: smooth;
  /* background: url('images/bg.jpg') no-repeat; */
  /* background-size: cover; */
}

html {
  font-size: 62.5%;
}

@media (max-width: 2560px) {
  html {
    font-size: 65%;
  }

  .Footer {
    top: 135rem;
  }
}

@media (max-width: 1600px) {
  html {
    font-size: 65%;
  }

  .Footer {
    top: 135rem;
  }
}

@media (max-width: 1200px) {
  html {
    font-size: 65%;
  }

  .Footer {
    top: 135rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 35%;
  }

  .Footer {
    top: 135rem;
  }
}

@media (max-width: 540px) and (max-height: 720px) {
  html {
    font-size: 35%;
  }

  .Footer {
    top: 135rem;
  }

  .App {
  }
}

@media (max-width: 450px) {
  html {
    font-size: 29%;
  }

  .Footer {
    top: 135rem;
  }
}

@media (max-width: 390px) {
  html {
    font-size: 26.5%;
  }

  .Footer {
    top: 135rem;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 21%;
  }

  .Footer {
    top: 135rem;
  }
}

@media (max-width: 280px) {
  html {
    font-size: 17%;
  }

  .Footer {
    top: 135rem;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-thumb {
  animation: load alternate-reverse 0.1s infinite;
  background: linear-gradient(orange, orangered);
}

::-webkit-scrollbar-thumb:hover {
  animation: load alternate-reverse 0.1s infinite;
  background: linear-gradient(orangered, orange);
}
